@mixin theme-light {
  // BACKGROUND COLORS
  --background-white: #fff;
  --background-black: #000;
  --background-blue: #0386ff;
  --background-primary: #0a2d56;
  --background-admiral: #5748df;
  --background-green: #39bd83;
  --background-red: #f03a45;
  --background-orange: #ffa012;
  --background-secondary: #5a6d80;
  --background-tertiary: #9baab8;
  --background-disabled: #e0e6ec;
  --background-line: #dbdbe7;
  --background-table: #f9f9f9;
  --background-loading: rgba(255, 255, 255, 0.9);
  --background-loading-full: rgba(255, 255, 255, 0.5);

  // TEXT COLORS
  --content-white: #fff;
  --content-black: #000;
  --content-blue: #0386ff;
  --content-primary: #0a2d56;
  --content-admiral: #5748df;
  --content-red: #f03a45;
  --content-green: #39bd83;
  --content-orange: #ffa012;
  --content-secondary: #5a6d80;
  --content-tertiary: #9baab8;

  // BORDER COLORS
  --border-white: #fff;
  --border-blue: #0386ff;
  --border-primary: #0a2d56;
  --border-admiral: #5748df;
  --border-red: #f03a45;
  --border-green: #39bd83;
  --border-orange: #ffa012;
  --border-secondary: #5a6d80;
  --border-tertiary: #9baab8;
  --border-line: #dbdbe7;

  // STATUS COLORS
  --status-blue: #0386ff;
  --status-green: #39bd83;
  --status-red: #f03a45;
  --status-gray: #6d8297;
  --status-orange: #ffa012;

  // SHADOW COLORS
  --shadow-box: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  --shadow-input-focus: 0 0 15px rgba(38, 120, 244, 0.35);
  --shadow-dropdown: 0 8px 35px rgba(0, 0, 0, 0.15);
  --shadow-panel-big: 0 8px 35px rgba(0, 0, 0, 0.15);
  --surface-panel: #fff;
  --shadow-panel-mini: 0 2px 15px rgba(0, 0, 0, 0.1);
  --shadow-input: 0 2px 5px rgba(0, 0, 0, 0.08);

  // BORDER RADIUS
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;
}
